services:
  frontend:
    build:
      context: ./frontend
      target: dev
    develop:
      watch:
        - path: ./frontend
          action: sync
          target: /usr/local/app
        - path: ./frontend/package.json
          action: rebuild
    networks:
      - ticketblaster-net
    depends_on:
      - backend

  backend:
    build: ./backend
    environment:
      - DB_CONNECTION_STRING=mongodb://database:27017/
      - JWT_SECRET=secret
      - FRONT_ORIGIN=http://frontend
      - STORAGE_CONNECTION_STRING=http://storage:3000
    develop:
      watch:
        - path: ./backend
          action: rebuild
    depends_on:
      - database
    networks:
      - ticketblaster-net
  
  database:
    image: mongo:8
    volumes:
      - ./database/init.js:/docker-entrypoint-initdb.d/init.js
      - mongo-data:/data/db
    networks:
      - ticketblaster-net

  proxy:
    build: ./proxy
    ports: 
      - 8000:80
    depends_on:
      - frontend
      - backend
    networks:
      - ticketblaster-net

  storage:
    build: ./storage
    volumes:
      - storage-data:/app/storage
    networks:
      - ticketblaster-net
    
volumes:
  mongo-data:
  storage-data:

networks:
  ticketblaster-net:


  